/* Estilo general */


body {
    
    margin: 10px 10px 10px 10px;

outline-width: 2px;

outline-style: groove;

outline-color: #722440;

color: rgb(42, 0, 74);

  padding: 10px;

  }


 .sol, h1 { 
  font-family: 'Josefin Slab', serif;
 
    text-align: center;
    color: rgb(94, 10, 178);
}

.dg {
    text-align: center;
}

h3 {
    text-align: center;
    color: rgb(207, 12, 70);
}

/* Estilos para las listas de descripciones */

dd, dt {
    line-height: 1.5;
  }

  
  dd {
    margin-bottom: 1.5rem;
    margin-left: 15px;
  }

  